<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Make Reservation</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
	<a class="navbar-brand" href="#">Welcome to The White Lotus</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
			</li>
		</ul>

		<span class="form-inline my-2 my-lg-0">
	        <div sec:authorize="isAuthenticated()" class="btn-group mr-2" role="group" aria-label="View Profile">
                <a th:href="@{/profile}" class="btn btn-light active" role="button" aria-pressed="true">View Profile</a>
            </div>
            <div sec:authorize="isAnonymous()" class="btn-group mr-2" role="group" aria-label="Login">
                <a th:href="@{/login}" class="btn btn-light active" role="button" aria-pressed="true">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="btn-group mr-2" role="group" aria-label="Logout">
                <a th:href="@{/logout}" class="btn btn-light active" role="button" aria-pressed="true">Logout</a>
            </div>
        </span>
	</div>
</nav>

<div class="container" >
	<h3 class="text-center">
		Make a Reservation
	</h3>

	<form action="#" th:action="@{/reservation/make-reservation/stage}" th:object="${reservation}" method="post" >
		<div class="form-row d-flex justify-content-center mb-2">
			<div sec:authorize="hasRole('ROLE_GUEST')" class="form-group col-md-3">
				<label>Making a reservation for...</label>
				<h4 th:text="*{guest.getFirstName() + ' ' + guest.getLastName()}" />
			</div>
			<div sec:authorize="hasRole('ROLE_CLERK')" class="form-group col-md-3">
				<label for="username">Guest username</label>
				<input type="text" class="form-control" id="username" placeholder="username" th:field="*{guest.username}">
			</div>
			<div class="form-group col-md-3">
				<label for="roomID">Room ID</label>
				<input type="number" class="form-control" id="roomID" placeholder="1" th:field="*{room.id}" readonly>
			</div>
			<div class="form-group col-md-3">
				<label for="startDate">Start Date</label>
				<input type="date" class="form-control" id="startDate" th:field="*{startDate}" readonly>
			</div>
			<div class="form-group col-md-3">
				<label for="endDate">End Date</label>
				<input type="date" class="form-control" id="endDate" th:field="*{endDate}" readonly>
			</div>
			<input type="hidden" th:field="*{guest}">
		</div>
		<div class="d-flex justify-content-center mb-2">
			<button type="submit" class="btn btn-info float-end">Make Reservation</button>
		</div>
	</form>
	<div class="d-flex justify-content-center mb-2">
		<form th:action="@{/}" method="get">
			<button type="submit" class="btn btn-info">Go Back to Room Search</button>
		</form>
	</div>
</div>
</body>
</html>